.footer{
    width: 100%;
    padding: 3rem 0;
    background-color: lightgray;
}

.footer-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}