.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh; /* Full viewport height for proper vertical centering */
    padding: 0.5rem;
}
.nav-menu{
    display:flex;
}

.nav-menu li{
    padding: 0 1rem;
}

.nav-menu li a{
    font-size: 1.2rem;
    font-weight: 500;

}

