@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Love+Ya+Like+A+Sister&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: large;
  font-family: "Love Ya Like A Sister", cursive;
  letter-spacing: 0.125rem;
}

